In [80]:
import pandas as pd
import numpy as np
from tvDatafeed import TvDatafeed,Interval
import datetime 
from astral.moon import phase

# Extrayendo data de tradingview con tvdatafeed

In [81]:
username = 'labradoradrian770'
password = 'eva210920'

In [82]:
tv = TvDatafeed(username=username,password=password)

In [83]:
df_ethbtc=tv.get_hist('ETHBTC','BINANCE', Interval.in_daily,n_bars=5000)

In [84]:
df_ethbtc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2742 entries, 2015-08-06 21:00:00 to 2023-02-06 21:00:00
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   symbol  2742 non-null   object
 1   open    2742 non-null   float64
 2   high    2742 non-null   float64
 3   low     2742 non-null   float64
 4   close   2742 non-null   float64
 5   volume  2742 non-null   float64
dtypes: float64(5), object(1)
memory usage: 150.0+ KB

In [85]:
df_ethbtc

,symbol,open,high,low,close,volume
datetime,,,,,,
2015-08-06 21:00:00,BINANCE:ETHBTC,0.010141,0.012575,0.009262,0.009990,0.000000
2015-08-07 21:00:00,BINANCE:ETHBTC,0.009990,0.010009,0.002725,0.003079,0.000000
2015-08-08 21:00:00,BINANCE:ETHBTC,0.003079,0.003361,0.002411,0.002818,0.000000
2015-08-09 21:00:00,BINANCE:ETHBTC,0.002818,0.002818,0.002459,0.002665,0.000000
2015-08-10 21:00:00,BINANCE:ETHBTC,0.002665,0.004204,0.002521,0.003900,0.000000
...,...,...,...,...,...,...
2023-02-02 21:00:00,BINANCE:ETHBTC,0.069963,0.071269,0.069587,0.071003,84617.441500
2023-02-03 21:00:00,BINANCE:ETHBTC,0.071004,0.072000,0.070667,0.071438,60571.364500
2023-02-04 21:00:00,BINANCE:ETHBTC,0.071438,0.071565,0.070595,0.071042,60836.721700
2023-02-05 21:00:00,BINANCE:ETHBTC,0.071042,0.071675,0.070816,0.070909,74033.719200
2023-02-06 21:00:00,BINANCE:ETHBTC,0.070910,0.071550,0.070900,0.071395,36227.501200

In [86]:
data= df_ethbtc
data['datetime']= data.index


data

,symbol,open,high,low,close,volume,datetime
datetime,,,,,,,
2015-08-06 21:00:00,BINANCE:ETHBTC,0.010141,0.012575,0.009262,0.009990,0.000000,2015-08-06 21:00:00
2015-08-07 21:00:00,BINANCE:ETHBTC,0.009990,0.010009,0.002725,0.003079,0.000000,2015-08-07 21:00:00
2015-08-08 21:00:00,BINANCE:ETHBTC,0.003079,0.003361,0.002411,0.002818,0.000000,2015-08-08 21:00:00
2015-08-09 21:00:00,BINANCE:ETHBTC,0.002818,0.002818,0.002459,0.002665,0.000000,2015-08-09 21:00:00
2015-08-10 21:00:00,BINANCE:ETHBTC,0.002665,0.004204,0.002521,0.003900,0.000000,2015-08-10 21:00:00
...,...,...,...,...,...,...,...
2023-02-02 21:00:00,BINANCE:ETHBTC,0.069963,0.071269,0.069587,0.071003,84617.441500,2023-02-02 21:00:00
2023-02-03 21:00:00,BINANCE:ETHBTC,0.071004,0.072000,0.070667,0.071438,60571.364500,2023-02-03 21:00:00
2023-02-04 21:00:00,BINANCE:ETHBTC,0.071438,0.071565,0.070595,0.071042,60836.721700,2023-02-04 21:00:00
2023-02-05 21:00:00,BINANCE:ETHBTC,0.071042,0.071675,0.070816,0.070909,74033.719200,2023-02-05 21:00:00
2023-02-06 21:00:00,BINANCE:ETHBTC,0.070910,0.071550,0.070900,0.071395,36227.501200,2023-02-06 21:00:00

# cambiando el Datetimeindex por un index numerico incremental

In [87]:
data['datetime'] = pd.to_datetime(data['datetime'], format = "%Y-%m-%d")
data['datetime'].info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 2742 entries, 2015-08-06 21:00:00 to 2023-02-06 21:00:00
Series name: datetime
Non-Null Count  Dtype
--------------  -----
2742 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 42.8 KB

In [88]:
data = data.reset_index(drop=True)
data

,symbol,open,high,low,close,volume,datetime
0,BINANCE:ETHBTC,0.010141,0.012575,0.009262,0.009990,0.000000,2015-08-06 21:00:00
1,BINANCE:ETHBTC,0.009990,0.010009,0.002725,0.003079,0.000000,2015-08-07 21:00:00
2,BINANCE:ETHBTC,0.003079,0.003361,0.002411,0.002818,0.000000,2015-08-08 21:00:00
3,BINANCE:ETHBTC,0.002818,0.002818,0.002459,0.002665,0.000000,2015-08-09 21:00:00
4,BINANCE:ETHBTC,0.002665,0.004204,0.002521,0.003900,0.000000,2015-08-10 21:00:00
...,...,...,...,...,...,...,...
2737,BINANCE:ETHBTC,0.069963,0.071269,0.069587,0.071003,84617.441500,2023-02-02 21:00:00
2738,BINANCE:ETHBTC,0.071004,0.072000,0.070667,0.071438,60571.364500,2023-02-03 21:00:00
2739,BINANCE:ETHBTC,0.071438,0.071565,0.070595,0.071042,60836.721700,2023-02-04 21:00:00
2740,BINANCE:ETHBTC,0.071042,0.071675,0.070816,0.070909,74033.719200,2023-02-05 21:00:00
2741,BINANCE:ETHBTC,0.070910,0.071550,0.070900,0.071395,36227.501200,2023-02-06 21:00:00

In [89]:
data= data.drop(columns='symbol',axis=1)
data

         open     high      low    close       volume            datetime
0    0.010141 0.012575 0.009262 0.009990     0.000000 2015-08-06 21:00:00
1    0.009990 0.010009 0.002725 0.003079     0.000000 2015-08-07 21:00:00
2    0.003079 0.003361 0.002411 0.002818     0.000000 2015-08-08 21:00:00
3    0.002818 0.002818 0.002459 0.002665     0.000000 2015-08-09 21:00:00
4    0.002665 0.004204 0.002521 0.003900     0.000000 2015-08-10 21:00:00
...       ...      ...      ...      ...          ...                 ...
2737 0.069963 0.071269 0.069587 0.071003 84617.441500 2023-02-02 21:00:00
2738 0.071004 0.072000 0.070667 0.071438 60571.364500 2023-02-03 21:00:00
2739 0.071438 0.071565 0.070595 0.071042 60836.721700 2023-02-04 21:00:00
2740 0.071042 0.071675 0.070816 0.070909 74033.719200 2023-02-05 21:00:00
2741 0.070910 0.071550 0.070900 0.071395 36227.501200 2023-02-06 21:00:00

[2742 rows x 6 columns]

In [90]:
data['datetime'] = data['datetime'].dt.date

In [91]:
data

         open     high      low    close       volume    datetime
0    0.010141 0.012575 0.009262 0.009990     0.000000  2015-08-06
1    0.009990 0.010009 0.002725 0.003079     0.000000  2015-08-07
2    0.003079 0.003361 0.002411 0.002818     0.000000  2015-08-08
3    0.002818 0.002818 0.002459 0.002665     0.000000  2015-08-09
4    0.002665 0.004204 0.002521 0.003900     0.000000  2015-08-10
...       ...      ...      ...      ...          ...         ...
2737 0.069963 0.071269 0.069587 0.071003 84617.441500  2023-02-02
2738 0.071004 0.072000 0.070667 0.071438 60571.364500  2023-02-03
2739 0.071438 0.071565 0.070595 0.071042 60836.721700  2023-02-04
2740 0.071042 0.071675 0.070816 0.070909 74033.719200  2023-02-05
2741 0.070910 0.071550 0.070900 0.071395 36227.501200  2023-02-06

[2742 rows x 6 columns]

In [92]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2742 entries, 0 to 2741
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   open      2742 non-null   float64
 1   high      2742 non-null   float64
 2   low       2742 non-null   float64
 3   close     2742 non-null   float64
 4   volume    2742 non-null   float64
 5   datetime  2742 non-null   object
dtypes: float64(5), object(1)
memory usage: 128.7+ KB

In [93]:
data['datetime']=pd.to_datetime(data['datetime'])
data['datetime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2742 entries, 0 to 2741
Series name: datetime
Non-Null Count  Dtype
--------------  -----
2742 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 21.5 KB

In [94]:
data['moon_phase']=''
data

         open     high      low    close       volume   datetime moon_phase
0    0.010141 0.012575 0.009262 0.009990     0.000000 2015-08-06
1    0.009990 0.010009 0.002725 0.003079     0.000000 2015-08-07
2    0.003079 0.003361 0.002411 0.002818     0.000000 2015-08-08
3    0.002818 0.002818 0.002459 0.002665     0.000000 2015-08-09
4    0.002665 0.004204 0.002521 0.003900     0.000000 2015-08-10
...       ...      ...      ...      ...          ...        ...        ...
2737 0.069963 0.071269 0.069587 0.071003 84617.441500 2023-02-02
2738 0.071004 0.072000 0.070667 0.071438 60571.364500 2023-02-03
2739 0.071438 0.071565 0.070595 0.071042 60836.721700 2023-02-04
2740 0.071042 0.071675 0.070816 0.070909 74033.719200 2023-02-05
2741 0.070910 0.071550 0.070900 0.071395 36227.501200 2023-02-06

[2742 rows x 7 columns]

# Ciclo de moon_phase de cada fecha contenida en el df

In [95]:
for index, row in data.iterrows():
    date = row["datetime"]
    phase_moon = phase(date)
    data.at[index, "moon_phase"] = phase_moon

data

         open     high      low    close       volume   datetime moon_phase
0    0.010141 0.012575 0.009262 0.009990     0.000000 2015-08-06  20.333444
1    0.009990 0.010009 0.002725 0.003079     0.000000 2015-08-07  21.344556
2    0.003079 0.003361 0.002411 0.002818     0.000000 2015-08-08  22.355667
3    0.002818 0.002818 0.002459 0.002665     0.000000 2015-08-09  23.366778
4    0.002665 0.004204 0.002521 0.003900     0.000000 2015-08-10  24.300111
...       ...      ...      ...      ...          ...        ...        ...
2737 0.069963 0.071269 0.069587 0.071003 84617.441500 2023-02-02  11.311222
2738 0.071004 0.072000 0.070667 0.071438 60571.364500 2023-02-03  12.166778
2739 0.071438 0.071565 0.070595 0.071042 60836.721700 2023-02-04  12.944556
2740 0.071042 0.071675 0.070816 0.070909 74033.719200 2023-02-05  13.800111
2741 0.070910 0.071550 0.070900 0.071395 36227.501200 2023-02-06  14.655667

[2742 rows x 7 columns]

# Creando name_phase column

In [96]:
def imprimir_fase(phase):
    if phase >=0 and phase <7:
        return "🌑 new moon"
    elif phase >= 7 and phase <14 :
        return "🌓 first quarter"
    elif phase >=14 and phase <21:
        return "🌕 full moon"
    elif phase >=21 and phase <28 :
        return "🌗 last quarter"
    else:
        return "Fase lunar desconocida."
    
    
data["name_phase"] = ""

for index, row in data.iterrows():
    phase = row["moon_phase"]
    name_phase = imprimir_fase(phase)
    data.at[index, "name_phase"] = name_phase
    
data

,open,high,low,close,volume,datetime,moon_phase,name_phase
0,0.010141,0.012575,0.009262,0.009990,0.000000,2015-08-06,20.333444,🌕 full moon
1,0.009990,0.010009,0.002725,0.003079,0.000000,2015-08-07,21.344556,🌗 last quarter
2,0.003079,0.003361,0.002411,0.002818,0.000000,2015-08-08,22.355667,🌗 last quarter
3,0.002818,0.002818,0.002459,0.002665,0.000000,2015-08-09,23.366778,🌗 last quarter
4,0.002665,0.004204,0.002521,0.003900,0.000000,2015-08-10,24.300111,🌗 last quarter
...,...,...,...,...,...,...,...,...
2737,0.069963,0.071269,0.069587,0.071003,84617.441500,2023-02-02,11.311222,🌓 first quarter
2738,0.071004,0.072000,0.070667,0.071438,60571.364500,2023-02-03,12.166778,🌓 first quarter
2739,0.071438,0.071565,0.070595,0.071042,60836.721700,2023-02-04,12.944556,🌓 first quarter
2740,0.071042,0.071675,0.070816,0.070909,74033.719200,2023-02-05,13.800111,🌓 first quarter
2741,0.070910,0.071550,0.070900,0.071395,36227.501200,2023-02-06,14.655667,🌕 full moon

# Creando change column para observar cambios de tendencia y porcentaje de cambio entre los precios de cierre

In [97]:
data.insert(data.columns.get_loc('close')+1, 'change',  data['close'].pct_change().round(2))

In [98]:
data

,open,high,low,close,change,volume,datetime,moon_phase,name_phase
0,0.010141,0.012575,0.009262,0.009990,NaN,0.000000,2015-08-06,20.333444,🌕 full moon
1,0.009990,0.010009,0.002725,0.003079,-0.690000,0.000000,2015-08-07,21.344556,🌗 last quarter
2,0.003079,0.003361,0.002411,0.002818,-0.080000,0.000000,2015-08-08,22.355667,🌗 last quarter
3,0.002818,0.002818,0.002459,0.002665,-0.050000,0.000000,2015-08-09,23.366778,🌗 last quarter
4,0.002665,0.004204,0.002521,0.003900,0.460000,0.000000,2015-08-10,24.300111,🌗 last quarter
...,...,...,...,...,...,...,...,...,...
2737,0.069963,0.071269,0.069587,0.071003,0.010000,84617.441500,2023-02-02,11.311222,🌓 first quarter
2738,0.071004,0.072000,0.070667,0.071438,0.010000,60571.364500,2023-02-03,12.166778,🌓 first quarter
2739,0.071438,0.071565,0.070595,0.071042,-0.010000,60836.721700,2023-02-04,12.944556,🌓 first quarter
2740,0.071042,0.071675,0.070816,0.070909,-0.000000,74033.719200,2023-02-05,13.800111,🌓 first quarter
2741,0.070910,0.071550,0.070900,0.071395,0.010000,36227.501200,2023-02-06,14.655667,🌕 full moon

In [99]:
data.columns

Index(['open', 'high', 'low', 'close', 'change', 'volume', 'datetime',
       'moon_phase', 'name_phase'],
      dtype='object')

# funtion simple para volatility_index

In [100]:
def volatilidad_index(row):
    return (row['high'] - row['low']) / (row['close'] - row['open'])

data['volatility_index'] = data.apply(volatilidad_index, axis=1)
data['volatility_index'] = (data['volatility_index'] - data['volatility_index'].min()) / (data['volatility_index'].max() - data['volatility_index'].min()) * 2 - 1
data['volatility_index'] = data['volatility_index'].round(2)
data

,open,high,low,close,change,volume,datetime,moon_phase,name_phase,volatility_index
0,0.010141,0.012575,0.009262,0.009990,NaN,0.000000,2015-08-06,20.333444,🌕 full moon,0.630000
1,0.009990,0.010009,0.002725,0.003079,-0.690000,0.000000,2015-08-07,21.344556,🌗 last quarter,0.660000
2,0.003079,0.003361,0.002411,0.002818,-0.080000,0.000000,2015-08-08,22.355667,🌗 last quarter,0.650000
3,0.002818,0.002818,0.002459,0.002665,-0.050000,0.000000,2015-08-09,23.366778,🌗 last quarter,0.650000
4,0.002665,0.004204,0.002521,0.003900,0.460000,0.000000,2015-08-10,24.300111,🌗 last quarter,0.660000
...,...,...,...,...,...,...,...,...,...,...
2737,0.069963,0.071269,0.069587,0.071003,0.010000,84617.441500,2023-02-02,11.311222,🌓 first quarter,0.660000
2738,0.071004,0.072000,0.070667,0.071438,0.010000,60571.364500,2023-02-03,12.166778,🌓 first quarter,0.660000
2739,0.071438,0.071565,0.070595,0.071042,-0.010000,60836.721700,2023-02-04,12.944556,🌓 first quarter,0.650000
2740,0.071042,0.071675,0.070816,0.070909,-0.000000,74033.719200,2023-02-05,13.800111,🌓 first quarter,0.650000
2741,0.070910,0.071550,0.070900,0.071395,0.010000,36227.501200,2023-02-06,14.655667,🌕 full moon,0.660000

# Valores con de volatilidad mas comunes

In [101]:
data['volatility_index'] = data['volatility_index'].astype(float)
grupo_vola = data['volatility_index'].groupby(data['volatility_index']).count()
grupo_vola

volatility_index
-1.000000       1
-0.460000       1
-0.240000       1
0.150000        1
0.330000        1
0.340000        1
0.440000        2
0.450000        1
0.460000        2
0.480000        2
0.490000        1
0.500000        1
0.510000        1
0.520000        1
0.540000        2
0.560000        1
0.570000        1
0.590000        4
0.600000        5
0.610000        5
0.620000       12
0.630000       25
0.640000       67
0.650000     1211
0.660000     1212
0.670000      101
0.680000       32
0.690000       19
0.700000        6
0.710000        2
0.720000        1
0.730000        4
0.750000        1
0.760000        2
0.780000        3
0.790000        1
0.800000        1
0.820000        1
0.830000        2
0.840000        1
0.950000        1
0.970000        1
1.000000        1
Name: volatility_index, dtype: int64

# Aplicando describe veo que aun falta transformar los datos de las columns moon_phase y volume

In [102]:
data.describe()

,open,high,low,close,change,volume,volatility_index
count,2742.000000,2742.000000,2742.000000,2742.000000,2741.000000,2742.000000,2742.000000
mean,0.043013,0.044115,0.041887,0.043035,0.002105,135976.739944,0.653665
std,0.026700,0.027358,0.025984,0.026698,0.051381,143509.421125,0.048500
min,0.001613,0.001793,0.001574,0.001613,-0.690000,0.000000,-1.000000
25%,0.021536,0.021953,0.021013,0.021545,-0.020000,0.000000,0.650000
50%,0.033833,0.034545,0.033113,0.033849,0.000000,108329.184350,0.660000
75%,0.068751,0.070202,0.067414,0.068757,0.020000,198970.829700,0.660000
max,0.150920,0.156357,0.148407,0.150920,0.490000,1396957.115000,1.000000

In [103]:
data

,open,high,low,close,change,volume,datetime,moon_phase,name_phase,volatility_index
0,0.010141,0.012575,0.009262,0.009990,NaN,0.000000,2015-08-06,20.333444,🌕 full moon,0.630000
1,0.009990,0.010009,0.002725,0.003079,-0.690000,0.000000,2015-08-07,21.344556,🌗 last quarter,0.660000
2,0.003079,0.003361,0.002411,0.002818,-0.080000,0.000000,2015-08-08,22.355667,🌗 last quarter,0.650000
3,0.002818,0.002818,0.002459,0.002665,-0.050000,0.000000,2015-08-09,23.366778,🌗 last quarter,0.650000
4,0.002665,0.004204,0.002521,0.003900,0.460000,0.000000,2015-08-10,24.300111,🌗 last quarter,0.660000
...,...,...,...,...,...,...,...,...,...,...
2737,0.069963,0.071269,0.069587,0.071003,0.010000,84617.441500,2023-02-02,11.311222,🌓 first quarter,0.660000
2738,0.071004,0.072000,0.070667,0.071438,0.010000,60571.364500,2023-02-03,12.166778,🌓 first quarter,0.660000
2739,0.071438,0.071565,0.070595,0.071042,-0.010000,60836.721700,2023-02-04,12.944556,🌓 first quarter,0.650000
2740,0.071042,0.071675,0.070816,0.070909,-0.000000,74033.719200,2023-02-05,13.800111,🌓 first quarter,0.650000
2741,0.070910,0.071550,0.070900,0.071395,0.010000,36227.501200,2023-02-06,14.655667,🌕 full moon,0.660000

In [104]:
data[['volume','moon_phase']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2742 entries, 0 to 2741
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   volume      2742 non-null   float64
 1   moon_phase  2742 non-null   object
dtypes: float64(1), object(1)
memory usage: 43.0+ KB

In [105]:
data['moon_phase'] = data['moon_phase'].astype('float')

In [106]:
data=data.round(8)

In [107]:
data.describe()

,open,high,low,close,change,volume,moon_phase,volatility_index
count,2742.000000,2742.000000,2742.000000,2742.000000,2741.000000,2742.000000,2742.000000,2742.000000
mean,0.043013,0.044115,0.041887,0.043035,0.002105,135976.739944,14.011093,0.653665
std,0.026700,0.027358,0.025984,0.026698,0.051381,143509.421125,8.083716,0.048500
min,0.001613,0.001793,0.001574,0.001613,-0.690000,0.000000,0.033444,-1.000000
25%,0.021536,0.021953,0.021013,0.021545,-0.020000,0.000000,7.033444,0.650000
50%,0.033833,0.034545,0.033113,0.033849,0.000000,108329.184350,13.955667,0.660000
75%,0.068751,0.070202,0.067414,0.068757,0.020000,198970.829700,21.033444,0.660000
max,0.150920,0.156357,0.148407,0.150920,0.490000,1396957.115000,27.955667,1.000000

# uso de set_option para agregar decimales a los datos y asi evitar outputs en scientific notation

In [108]:
pd.set_option('display.float_format', lambda x: '%.6f' % x)

In [109]:
data

,open,high,low,close,change,volume,datetime,moon_phase,name_phase,volatility_index
0,0.010141,0.012575,0.009262,0.009990,NaN,0.000000,2015-08-06,20.333444,🌕 full moon,0.630000
1,0.009990,0.010009,0.002725,0.003079,-0.690000,0.000000,2015-08-07,21.344556,🌗 last quarter,0.660000
2,0.003079,0.003361,0.002411,0.002818,-0.080000,0.000000,2015-08-08,22.355667,🌗 last quarter,0.650000
3,0.002818,0.002818,0.002459,0.002665,-0.050000,0.000000,2015-08-09,23.366778,🌗 last quarter,0.650000
4,0.002665,0.004204,0.002521,0.003900,0.460000,0.000000,2015-08-10,24.300111,🌗 last quarter,0.660000
...,...,...,...,...,...,...,...,...,...,...
2737,0.069963,0.071269,0.069587,0.071003,0.010000,84617.441500,2023-02-02,11.311222,🌓 first quarter,0.660000
2738,0.071004,0.072000,0.070667,0.071438,0.010000,60571.364500,2023-02-03,12.166778,🌓 first quarter,0.660000
2739,0.071438,0.071565,0.070595,0.071042,-0.010000,60836.721700,2023-02-04,12.944556,🌓 first quarter,0.650000
2740,0.071042,0.071675,0.070816,0.070909,-0.000000,74033.719200,2023-02-05,13.800111,🌓 first quarter,0.650000
2741,0.070910,0.071550,0.070900,0.071395,0.010000,36227.501200,2023-02-06,14.655667,🌕 full moon,0.660000

In [110]:
data.describe()

,open,high,low,close,change,volume,moon_phase,volatility_index
count,2742.000000,2742.000000,2742.000000,2742.000000,2741.000000,2742.000000,2742.000000,2742.000000
mean,0.043013,0.044115,0.041887,0.043035,0.002105,135976.739944,14.011093,0.653665
std,0.026700,0.027358,0.025984,0.026698,0.051381,143509.421125,8.083716,0.048500
min,0.001613,0.001793,0.001574,0.001613,-0.690000,0.000000,0.033444,-1.000000
25%,0.021536,0.021953,0.021013,0.021545,-0.020000,0.000000,7.033444,0.650000
50%,0.033833,0.034545,0.033113,0.033849,0.000000,108329.184350,13.955667,0.660000
75%,0.068751,0.070202,0.067414,0.068757,0.020000,198970.829700,21.033444,0.660000
max,0.150920,0.156357,0.148407,0.150920,0.490000,1396957.115000,27.955667,1.000000

In [111]:
data

,open,high,low,close,change,volume,datetime,moon_phase,name_phase,volatility_index
0,0.010141,0.012575,0.009262,0.009990,NaN,0.000000,2015-08-06,20.333444,🌕 full moon,0.630000
1,0.009990,0.010009,0.002725,0.003079,-0.690000,0.000000,2015-08-07,21.344556,🌗 last quarter,0.660000
2,0.003079,0.003361,0.002411,0.002818,-0.080000,0.000000,2015-08-08,22.355667,🌗 last quarter,0.650000
3,0.002818,0.002818,0.002459,0.002665,-0.050000,0.000000,2015-08-09,23.366778,🌗 last quarter,0.650000
4,0.002665,0.004204,0.002521,0.003900,0.460000,0.000000,2015-08-10,24.300111,🌗 last quarter,0.660000
...,...,...,...,...,...,...,...,...,...,...
2737,0.069963,0.071269,0.069587,0.071003,0.010000,84617.441500,2023-02-02,11.311222,🌓 first quarter,0.660000
2738,0.071004,0.072000,0.070667,0.071438,0.010000,60571.364500,2023-02-03,12.166778,🌓 first quarter,0.660000
2739,0.071438,0.071565,0.070595,0.071042,-0.010000,60836.721700,2023-02-04,12.944556,🌓 first quarter,0.650000
2740,0.071042,0.071675,0.070816,0.070909,-0.000000,74033.719200,2023-02-05,13.800111,🌓 first quarter,0.650000
2741,0.070910,0.071550,0.070900,0.071395,0.010000,36227.501200,2023-02-06,14.655667,🌕 full moon,0.660000

In [112]:
data[['change']].head(21)

      change
0        NaN
1  -0.690000
2  -0.080000
3  -0.050000
4   0.460000
5   0.200000
6   0.490000
7  -0.020000
8  -0.060000
9  -0.120000
10 -0.180000
11  0.080000
12  0.100000
13  0.140000
14 -0.030000
15 -0.020000
16 -0.010000
17 -0.010000
18 -0.100000
19 -0.020000
20 -0.010000

# Funcion para indentificar tendencias,retrocesos y cambios utilizando retrocesos fibonacci

In [113]:
change_values = data['change'].tolist()

In [114]:
def trend_identifier(change_values, fibonacci_levels=[0.382, 0.5, 0.618, 0.786, 1]):
    current_trend = None
    trend_start = 0
    trends = []
    for i, change_value in enumerate(change_values[1:]):
        if current_trend is None:
            current_trend = change_value
            trend_start = i + 1
        elif (current_trend > 0 and change_value < 0) or (current_trend < 0 and change_value > 0):
            if abs(change_value) > abs(current_trend) * fibonacci_levels[0]:
                for fibonacci_level in fibonacci_levels[1:]:
                    if abs(change_value) > abs(current_trend) * fibonacci_level:
                        current_trend = change_value
                        trend_start = i + 1
                        break
                else:
                    trends.append((trend_start, i + 1, current_trend))
                    current_trend = None
            else:
                trends.append((trend_start, i + 1, current_trend))
                current_trend = None
        else:
            current_trend += change_value
    if current_trend is not None:
        trends.append((trend_start, len(change_values), current_trend))
    return trends

In [115]:
trends = trend_identifier(change_values)

In [116]:
trends

[(4, 7, 1.15),
 (8, 11, -0.36),
 (12, 14, 0.24000000000000002),
 (15, 21, -0.17),
 (22, 26, 0.15000000000000002),
 (30, 33, -0.11),
 (34, 36, -0.21000000000000002),
 (39, 40, 0.08),
 (43, 45, 0.12000000000000001),
 (46, 50, -0.23),
 (51, 53, -0.27),
 (55, 57, -0.06999999999999999),
 (58, 60, -0.09),
 (61, 62, -0.05),
 (64, 69, -0.23),
 (70, 75, -0.3),
 (76, 77, 0.28),
 (78, 84, 0.72),
 (87, 90, -0.33999999999999997),
 (91, 92, 0.04),
 (93, 94, 0.16),
 (97, 98, 0.03),
 (99, 101, 0.07),
 (102, 104, 0.05),
 (106, 108, 0.04),
 (109, 113, -0.2),
 (114, 116, -0.09999999999999999),
 (117, 119, -0.05),
 (120, 123, -0.14),
 (125, 128, 0.18),
 (130, 135, -0.13),
 (136, 140, -0.08),
 (141, 142, 0.07),
 (144, 148, 0.09999999999999999),
 (149, 150, 0.05),
 (154, 162, 0.5),
 (163, 165, 0.14),
 (166, 172, 0.6300000000000001),
 (173, 175, 0.18),
 (179, 181, 0.13),
 (183, 189, 0.98),
 (190, 192, -0.1),
 (193, 195, -0.35),
 (198, 202, 0.41000000000000003),
 (204, 206, 0.06999999999999999),
 (207, 212, 0.69),
 (213, 214, -0.17),
 (215, 216, 0.22),
 (220, 221, -0.17),
 (222, 224, -0.16),
 (227, 228, 0.15),
 (230, 232, -0.14),
 (234, 237, 0.18),
 (238, 239, 0.02),
 (240, 243, -0.11000000000000001),
 (244, 250, -0.35),
 (253, 255, 0.14),
 (256, 260, -0.17),
 (265, 266, -0.07),
 (267, 268, 0.21),
 (270, 271, -0.09),
 (273, 274, -0.08),
 (277, 281, 0.13),
 (283, 287, 0.45),
 (290, 296, -0.35000000000000003),
 (297, 299, 0.12),
 (300, 303, -0.08),
 (305, 308, 0.060000000000000005),
 (311, 313, 0.15),
 (315, 317, -0.5),
 (319, 321, 0.35),
 (325, 327, -0.13999999999999999),
 (328, 331, -0.15000000000000002),
 (332, 335, -0.13),
 (336, 337, 0.09),
 (342, 344, 0.13),
 (347, 351, 0.34),
 (355, 356, 0.09),
 (362, 364, 0.18),
 (367, 370, 0.12),
 (372, 374, -0.02),
 (379, 380, 0.04),
 (381, 383, -0.02),
 (384, 385, 0.03),
 (389, 392, 0.11),
 (393, 395, -0.09),
 (396, 399, -0.07),
 (400, 401, 0.04),
 (402, 408, 0.09999999999999999),
 (409, 411, 0.16),
 (412, 415, -0.08),
 (417, 419, 0.04),
 (422, 424, 0.03),
 (425, 432, -0.17),
 (434, 437, -0.02),
 (439, 440, -0.03),
 (441, 450, -0.28),
 (454, 457, 0.08),
 (459, 464, -0.08),
 (467, 470, -0.12),
 (471, 472, 0.02),
 (475, 476, -0.05),
 (477, 481, -0.12),
 (482, 484, -0.14),
 (487, 489, 0.22),
 (491, 492, -0.05),
 (493, 494, 0.02),
 (495, 499, -0.07),
 (500, 505, -0.22000000000000003),
 (506, 509, -0.05),
 (510, 512, 0.09),
 (515, 519, 0.36),
 (520, 524, 0.13),
 (525, 526, -0.03),
 (528, 530, -0.06),
 (534, 535, -0.02),
 (537, 542, -0.05),
 (543, 547, -0.06999999999999999),
 (552, 554, 0.06),
 (555, 559, 0.14),
 (568, 575, 0.34),
 (576, 578, 0.04),
 (579, 580, -0.05),
 (581, 589, 1.15),
 (590, 591, 0.29),
 (593, 596, 0.44999999999999996),
 (598, 599, -0.1),
 (602, 603, -0.08),
 (604, 607, -0.18),
 (608, 610, -0.11),
 (611, 612, -0.04),
 (614, 616, 0.19),
 (621, 622, -0.04),
 (628, 631, 0.33),
 (633, 635, -0.09),
 (636, 637, 0.19),
 (639, 644, -0.21000000000000002),
 (648, 650, -0.08),
 (651, 652, 0.29),
 (653, 656, 0.26),
 (659, 663, 0.43),
 (667, 668, 0.11),
 (672, 674, 0.29),
 (675, 676, 0.27),
 (680, 681, 0.02),
 (682, 690, -0.24000000000000002),
 (692, 695, -0.12),
 (696, 705, -0.3),
 (706, 707, -0.06),
 (712, 714, -0.26),
 (723, 724, -0.07),
 (725, 726, 0.15),
 (729, 733, 0.11),
 (736, 740, -0.2),
 (744, 746, 0.15),
 (749, 752, 0.07),
 (755, 760, -0.18),
 (762, 766, -0.04),
 (769, 770, -0.04),
 (772, 774, 0.07),
 (777, 780, 0.08),
 (781, 789, -0.09),
 (791, 792, 0.04),
 (793, 795, -0.12000000000000001),
 (798, 799, 0.08),
 (809, 810, 0.12),
 (814, 815, -0.03),
 (816, 819, -0.21),
 (823, 824, -0.04),
 (825, 829, 0.24),
 (831, 833, -0.19),
 (834, 835, 0.04),
 (836, 841, 0.29000000000000004),
 (842, 846, -0.2),
 (847, 854, -0.53),
 (857, 860, 0.43000000000000005),
 (861, 863, -0.15000000000000002),
 (864, 868, 0.31),
 (872, 874, -0.08),
 (875, 877, 0.1),
 (878, 881, 0.15000000000000002),
 (882, 883, -0.09),
 (884, 887, 0.46),
 (888, 892, 0.17),
 (893, 898, -0.05),
 (901, 906, 0.16),
 (910, 911, -0.08),
 (912, 914, -0.04),
 (915, 916, -0.02),
 (920, 921, -0.03),
 (922, 929, -0.21000000000000002),
 (930, 934, 0.09000000000000001),
 (935, 940, -0.12),
 (942, 944, 0.03),
 (945, 946, 0.05),
 (947, 948, -0.02),
 (949, 957, -0.19),
 (962, 966, -0.14),
 (970, 971, 0.03),
 (975, 983, 0.13),
 (984, 988, 0.09),
 (993, 997, 0.06),
 (998, 1003, 0.13),
 (1005, 1006, 0.02),
 (1010, 1012, 0.04),
 (1014, 1015, -0.02),
 (1017, 1021, -0.09),
 (1024, 1026, -0.1),
 (1027, 1032, 0.06),
 (1042, 1043, 0.04),
 (1044, 1048, 0.04),
 (1049, 1051, -0.03),
 (1052, 1055, -0.09),
 (1056, 1058, -0.02),
 (1061, 1063, -0.02),
 (1067, 1069, -0.05),
 (1075, 1079, -0.13999999999999999),
 (1080, 1083, -0.09),
 (1085, 1092, -0.060000000000000005),
 (1096, 1097, -0.04),
 (1098, 1105, -0.23),
 (1107, 1116, -0.18000000000000002),
 (1117, 1121, -0.04),
 (1122, 1126, -0.18),
 (1133, 1134, 0.12),
 (1135, 1136, 0.06),
 (1138, 1142, 0.16),
 (1144, 1147, -0.1),
 (1149, 1152, 0.05),
 (1155, 1156, 0.02),
 (1161, 1162, -0.1),
 (1165, 1167, 0.02),
 (1179, 1183, -0.02),
 (1184, 1188, 0.08),
 (1194, 1196, -0.04),
 (1197, 1199, -0.02),
 (1200, 1202, -0.07),
 (1205, 1206, 0.03),
 (1207, 1211, -0.060000000000000005),
 (1219, 1224, -0.05),
 (1227, 1230, 0.06),
 (1231, 1236, 0.26),
 (1239, 1242, 0.14),
 (1243, 1245, 0.11),
 (1248, 1256, -0.23000000000000004),
 (1257, 1258, -0.04),
 (1259, 1261, -0.02),
 (1262, 1264, -0.02),
 (1265, 1272, -0.08),
 (1281, 1284, 0.11),
 (1288, 1292, 0.11),
 (1293, 1294, 0.02),
 (1297, 1298, -0.08),
 (1306, 1308, 0.05),
 (1309, 1310, -0.02),
 (1316, 1318, 0.03),
 (1319, 1323, -0.02),
 (1328, 1329, 0.02),
 (1330, 1331, 0.02),
 (1332, 1337, -0.08),
 (1338, 1341, 0.04),
 (1342, 1346, -0.05),
 (1353, 1359, -0.09999999999999999),
 (1363, 1367, -0.08),
 (1369, 1376, -0.18),
 (1377, 1379, 0.22999999999999998),
 (1380, 1383, -0.05),
 (1384, 1389, -0.04),
 (1393, 1394, 0.02),
 (1395, 1400, 0.04),
 (1406, 1414, -0.13999999999999999),
 (1415, 1420, -0.11000000000000001),
 (1422, 1425, 0.11),
 (1426, 1427, -0.06),
 (1431, 1436, -0.14),
 (1437, 1440, -0.11),
 (1441, 1443, -0.04),
 (1446, 1450, 0.05),
 (1453, 1464, -0.21999999999999997),
 (1465, 1466, 0.03),
 (1468, 1471, -0.07),
 (1472, 1473, 0.04),
 (1475, 1477, 0.03),
 (1479, 1481, -0.03),
 (1482, 1485, -0.04),
 (1486, 1492, -0.09),
 (1493, 1496, 0.05),
 (1498, 1507, 0.22000000000000003),
 (1508, 1510, -0.06999999999999999),
 (1511, 1514, 0.05),
 (1519, 1525, 0.06),
 (1526, 1528, -0.03),
 (1529, 1530, 0.02),
 (1533, 1537, -0.03),
 (1540, 1543, -0.11),
 (1544, 1545, 0.03),
 (1551, 1553, 0.04),
 (1554, 1561, 0.05),
 (1562, 1565, 0.03),
 (1566, 1569, -0.05),
 (1570, 1571, -0.02),
 (1573, 1576, -0.03),
 (1577, 1579, 0.02),
 (1584, 1587, 0.02),
 (1592, 1600, -0.13),
 (1604, 1607, 0.05),
 (1614, 1616, -0.06),
 (1621, 1626, 0.09),
 (1637, 1638, 0.04),
 (1639, 1646, 0.17),
 (1647, 1653, 0.2),
 (1655, 1657, 0.06999999999999999),
 (1659, 1660, 0.02),
 (1663, 1665, -0.08),
 (1673, 1674, 0.06),
 (1675, 1676, -0.07),
 (1677, 1680, -0.14),
 (1681, 1685, -0.09),
 (1687, 1693, -0.08),
 (1700, 1705, 0.14),
 (1706, 1707, 0.03),
 (1708, 1712, -0.02),
 (1713, 1717, 0.11),
 (1721, 1722, -0.03),
 (1725, 1729, -0.08),
 (1730, 1736, -0.11),
 (1738, 1739, -0.02),
 (1740, 1743, -0.04),
 (1744, 1747, 0.05),
 (1750, 1754, 0.05),
 (1755, 1759, 0.11000000000000001),
 (1761, 1763, 0.04),
 (1764, 1771, -0.02),
 (1772, 1775, -0.02),
 (1786, 1787, -0.02),
 (1788, 1799, 0.06999999999999999),
 (1802, 1807, -0.03),
 (1810, 1816, 0.21000000000000002),
 (1819, 1825, 0.19),
 (1828, 1829, 0.03),
 (1830, 1835, 0.12),
 (1836, 1838, -0.04),
 (1839, 1840, -0.02),
 (1841, 1842, -0.04),
 (1845, 1848, -0.04),
 (1849, 1853, 0.15000000000000002),
 (1854, 1857, -0.16),
 (1860, 1864, 0.11),
 (1868, 1869, 0.07),
 (1870, 1875, -0.11000000000000001),
 (1883, 1885, -0.02),
 (1890, 1891, 0.03),
 (1892, 1895, 0.02),
 (1896, 1899, -0.03),
 (1903, 1904, 0.04),
 (1905, 1913, -0.13),
 (1918, 1921, 0.09),
 (1926, 1932, -0.09999999999999999),
 (1933, 1936, 0.2),
 (1941, 1942, 0.04),
 (1946, 1947, -0.04),
 (1951, 1952, 0.02),
 (1955, 1956, 0.02),
 (1957, 1966, -0.19),
 (1969, 1971, 0.11),
 (1976, 1980, 0.34),
 (1984, 1987, -0.09000000000000001),
 (1988, 1994, 0.22),
 (1995, 1998, 0.19),
 (2000, 2002, -0.05),
 (2005, 2008, 0.11000000000000001),
 (2010, 2013, -0.16999999999999998),
 (2016, 2017, 0.04),
 (2023, 2028, -0.15),
 (2029, 2031, -0.05),
 (2034, 2035, -0.03),
 (2036, 2037, 0.02),
 (2038, 2041, 0.11),
 (2042, 2045, -0.1),
 (2048, 2051, -0.04),
 (2057, 2059, 0.02),
 (2061, 2062, 0.04),
 (2063, 2066, 0.15000000000000002),
 (2070, 2071, -0.04),
 (2076, 2079, 0.11),
 (2083, 2087, 0.18),
 (2088, 2089, 0.07),
 (2094, 2100, 0.26),
 (2101, 2106, 0.24),
 (2108, 2111, -0.08),
 (2112, 2113, -0.16),
 (2117, 2120, 0.2),
 (2121, 2123, -0.08),
 (2124, 2125, 0.09),
 (2126, 2132, 0.06),
 (2133, 2136, -0.16),
 (2137, 2141, -0.09),
 (2145, 2147, -0.08),
 (2148, 2151, -0.03),
 (2152, 2155, 0.14),
 (2156, 2159, 0.04),
 (2162, 2168, -0.13999999999999999),
 (2169, 2171, -0.02),
 (2174, 2179, 0.08999999999999998),
 (2183, 2184, 0.04),
 (2185, 2188, 0.14),
 (2189, 2191, 0.05),
 (2193, 2195, -0.04),
 (2201, 2204, -0.05),
 (2208, 2209, 0.02),
 (2215, 2218, 0.18),
 (2219, 2220, 0.02),
 (2225, 2227, -0.06),
 (2228, 2229, 0.02),
 (2233, 2238, -0.1),
 (2242, 2243, 0.04),
 (2250, 2253, -0.09),
 (2254, 2258, -0.08),
 (2266, 2270, 0.12),
 (2274, 2276, 0.05),
 (2277, 2282, 0.05),
 (2283, 2287, -0.04),
 (2288, 2290, 0.02),
 (2293, 2294, -0.02),
 (2296, 2298, 0.05),
 (2299, 2301, 0.04),
 (2306, 2308, 0.09),
 (2311, 2314, 0.07999999999999999),
 (2316, 2322, -0.09),
 (2323, 2326, 0.03),
 (2327, 2332, -0.05),
 (2333, 2337, -0.03),
 (2340, 2343, 0.05),
 (2344, 2347, -0.1),
 (2349, 2351, 0.04),
 (2355, 2361, -0.12000000000000001),
 (2362, 2364, -0.05),
 (2366, 2375, 0.12),
 (2379, 2383, -0.060000000000000005),
 (2387, 2390, -0.05),
 (2394, 2396, 0.05),
 (2397, 2402, -0.05),
 (2403, 2405, -0.03),
 (2412, 2416, 0.07),
 (2418, 2419, 0.02),
 (2423, 2433, 0.09),
 (2434, 2435, -0.02),
 (2436, 2439, 0.03),
 (2445, 2450, -0.03),
 (2451, 2459, -0.03),
 (2462, 2464, 0.02),
 (2469, 2471, -0.11),
 (2476, 2478, -0.03),
 (2482, 2486, -0.12000000000000001),
 (2489, 2493, -0.05),
 (2494, 2497, -0.04),
 (2498, 2503, -0.1),
 (2504, 2506, -0.04),
 (2508, 2510, 0.05),
 (2512, 2515, 0.09),
 (2517, 2520, -0.07),
 (2521, 2524, 0.03),
 (2525, 2526, 0.03),
 (2527, 2532, -0.07),
 (2533, 2538, 0.25),
 (2540, 2541, 0.04),
 (2544, 2545, -0.04),
 (2546, 2549, 0.060000000000000005),
 (2550, 2552, -0.03),
 (2553, 2556, 0.05),
 (2557, 2559, 0.02),
 (2560, 2564, 0.1),
 (2569, 2571, -0.06),
 (2579, 2584, 0.09000000000000001),
 (2590, 2591, -0.05),
 (2592, 2594, -0.060000000000000005),
 (2596, 2598, -0.11),
 (2599, 2600, -0.06),
 (2601, 2603, -0.04),
 (2604, 2606, 0.02),
 (2609, 2614, -0.04),
 (2617, 2619, 0.02),
 (2625, 2626, 0.02),
 (2632, 2638, 0.13),
 (2639, 2641, 0.04),
 (2642, 2645, -0.02),
 (2647, 2649, -0.04),
 (2652, 2654, 0.09000000000000001),
 (2655, 2660, -0.04),
 (2661, 2665, -0.04),
 (2666, 2669, 0.03),
 (2671, 2675, 0.060000000000000005),
 (2676, 2677, 0.02),
 (2680, 2681, 0.02),
 (2682, 2689, -0.06),
 (2690, 2700, 0.02),
 (2701, 2715, 0.08),
 (2717, 2721, 0.03),
 (2723, 2728, -0.07),
 (2729, 2732, -0.02),
 (2735, 2739, 0.04),
 (2740, 2742, 0.01)]

# crear dataframe con los resultados de iterar a la columna change con la funcion trend_identifier

In [117]:
result = trend_identifier(change_values)

In [118]:
df_trends= pd.DataFrame(result, columns=['start', 'end', 'trend'])

In [119]:
df_trends

     start   end     trend
0        4     7  1.150000
1        8    11 -0.360000
2       12    14  0.240000
3       15    21 -0.170000
4       22    26  0.150000
..     ...   ...       ...
497   2717  2721  0.030000
498   2723  2728 -0.070000
499   2729  2732 -0.020000
500   2735  2739  0.040000
501   2740  2742  0.010000

[502 rows x 3 columns]

# para observar cuanto duran las tendencias y cual es el promedio de duracion

In [120]:
duration_trend = df_trends['end'] - df_trends['start']
average_duration = duration_values.mean()

In [121]:
average_duration

3.0818363273453095

In [122]:
df_trends['duration_trend']= duration_trend

In [123]:
df_trends

     start   end     trend  duration_trend
0        4     7  1.150000               3
1        8    11 -0.360000               3
2       12    14  0.240000               2
3       15    21 -0.170000               6
4       22    26  0.150000               4
..     ...   ...       ...             ...
497   2717  2721  0.030000               4
498   2723  2728 -0.070000               5
499   2729  2732 -0.020000               3
500   2735  2739  0.040000               4
501   2740  2742  0.010000               2

[502 rows x 4 columns]

# add moon_phase a al dataframe de tendencias

In [124]:
df_trends["moon_phase"] = ''

for i, row in df_trends.iterrows():
    start, end = row["start"], row["end"]
    moon_phase_slice = data.iloc[start:end]["moon_phase"]
    df_trends.at[i, "moon_phase"] = moon_phase_slice.mean()

In [125]:
df_trends

     start   end     trend  duration_trend moon_phase
0        4     7  1.150000               3  25.233444
1        8    11 -0.360000               3  10.144556
2       12    14  0.240000               2   3.766778
3       15    21 -0.170000               6   8.109370
4       22    26  0.150000               4  14.189000
..     ...   ...       ...             ...        ...
497   2717  2721  0.030000               4  20.936222
498   2723  2728 -0.070000               5  16.320111
499   2729  2732 -0.020000               3   4.855667
500   2735  2739  0.040000               4  10.883444
501   2740  2742  0.010000               2  14.227889

[502 rows x 5 columns]