In [1]:
import pandas as pd
import numpy as np
from tvDatafeed import TvDatafeed,Interval
import datetime 
from astral.moon import phase

# Extrayendo data de tradingview con tvdatafeed

In [2]:
username = 'labradoradrian770'
password = 'eva210920'

In [3]:
tv = TvDatafeed(username=username,password=password)

In [4]:
df_ethbtc=tv.get_hist('ETHBTC','BINANCE', Interval.in_daily,n_bars=5000)

In [5]:
df_ethbtc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2739 entries, 2015-08-06 21:00:00 to 2023-02-03 21:00:00
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   symbol  2739 non-null   object
 1   open    2739 non-null   float64
 2   high    2739 non-null   float64
 3   low     2739 non-null   float64
 4   close   2739 non-null   float64
 5   volume  2739 non-null   float64
dtypes: float64(5), object(1)
memory usage: 149.8+ KB

In [6]:
df_ethbtc

,symbol,open,high,low,close,volume
datetime,,,,,,
2015-08-06 21:00:00,BINANCE:ETHBTC,0.010141,0.012575,0.009262,0.009990,0.0000
2015-08-07 21:00:00,BINANCE:ETHBTC,0.009990,0.010009,0.002725,0.003079,0.0000
2015-08-08 21:00:00,BINANCE:ETHBTC,0.003079,0.003361,0.002411,0.002818,0.0000
2015-08-09 21:00:00,BINANCE:ETHBTC,0.002818,0.002818,0.002459,0.002665,0.0000
2015-08-10 21:00:00,BINANCE:ETHBTC,0.002665,0.004204,0.002521,0.003900,0.0000
...,...,...,...,...,...,...
2023-01-30 21:00:00,BINANCE:ETHBTC,0.068615,0.069146,0.068391,0.068547,56726.2940
2023-01-31 21:00:00,BINANCE:ETHBTC,0.068547,0.069556,0.068177,0.069184,73425.2066
2023-02-01 21:00:00,BINANCE:ETHBTC,0.069184,0.070997,0.069180,0.069963,108565.6993
2023-02-02 21:00:00,BINANCE:ETHBTC,0.069963,0.071269,0.069587,0.071003,84617.0884
2023-02-03 21:00:00,BINANCE:ETHBTC,0.071004,0.071924,0.070667,0.071724,44447.2555

In [7]:
data= df_ethbtc
data['datetime']= data.index


data

,symbol,open,high,low,close,volume,datetime
datetime,,,,,,,
2015-08-06 21:00:00,BINANCE:ETHBTC,0.010141,0.012575,0.009262,0.009990,0.0000,2015-08-06 21:00:00
2015-08-07 21:00:00,BINANCE:ETHBTC,0.009990,0.010009,0.002725,0.003079,0.0000,2015-08-07 21:00:00
2015-08-08 21:00:00,BINANCE:ETHBTC,0.003079,0.003361,0.002411,0.002818,0.0000,2015-08-08 21:00:00
2015-08-09 21:00:00,BINANCE:ETHBTC,0.002818,0.002818,0.002459,0.002665,0.0000,2015-08-09 21:00:00
2015-08-10 21:00:00,BINANCE:ETHBTC,0.002665,0.004204,0.002521,0.003900,0.0000,2015-08-10 21:00:00
...,...,...,...,...,...,...,...
2023-01-30 21:00:00,BINANCE:ETHBTC,0.068615,0.069146,0.068391,0.068547,56726.2940,2023-01-30 21:00:00
2023-01-31 21:00:00,BINANCE:ETHBTC,0.068547,0.069556,0.068177,0.069184,73425.2066,2023-01-31 21:00:00
2023-02-01 21:00:00,BINANCE:ETHBTC,0.069184,0.070997,0.069180,0.069963,108565.6993,2023-02-01 21:00:00
2023-02-02 21:00:00,BINANCE:ETHBTC,0.069963,0.071269,0.069587,0.071003,84617.0884,2023-02-02 21:00:00
2023-02-03 21:00:00,BINANCE:ETHBTC,0.071004,0.071924,0.070667,0.071724,44447.2555,2023-02-03 21:00:00

# cambiando el Datetimeindex por un index numerico incremental

In [8]:
data['datetime'] = pd.to_datetime(data['datetime'], format = "%Y-%m-%d")
data['datetime'].info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 2739 entries, 2015-08-06 21:00:00 to 2023-02-03 21:00:00
Series name: datetime
Non-Null Count  Dtype
--------------  -----
2739 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 42.8 KB

In [9]:
data = data.reset_index(drop=True)
data

,symbol,open,high,low,close,volume,datetime
0,BINANCE:ETHBTC,0.010141,0.012575,0.009262,0.009990,0.0000,2015-08-06 21:00:00
1,BINANCE:ETHBTC,0.009990,0.010009,0.002725,0.003079,0.0000,2015-08-07 21:00:00
2,BINANCE:ETHBTC,0.003079,0.003361,0.002411,0.002818,0.0000,2015-08-08 21:00:00
3,BINANCE:ETHBTC,0.002818,0.002818,0.002459,0.002665,0.0000,2015-08-09 21:00:00
4,BINANCE:ETHBTC,0.002665,0.004204,0.002521,0.003900,0.0000,2015-08-10 21:00:00
...,...,...,...,...,...,...,...
2734,BINANCE:ETHBTC,0.068615,0.069146,0.068391,0.068547,56726.2940,2023-01-30 21:00:00
2735,BINANCE:ETHBTC,0.068547,0.069556,0.068177,0.069184,73425.2066,2023-01-31 21:00:00
2736,BINANCE:ETHBTC,0.069184,0.070997,0.069180,0.069963,108565.6993,2023-02-01 21:00:00
2737,BINANCE:ETHBTC,0.069963,0.071269,0.069587,0.071003,84617.0884,2023-02-02 21:00:00
2738,BINANCE:ETHBTC,0.071004,0.071924,0.070667,0.071724,44447.2555,2023-02-03 21:00:00

In [10]:
data= data.drop(columns='symbol',axis=1)
data

          open      high       low     close       volume            datetime
0     0.010141  0.012575  0.009262  0.009990       0.0000 2015-08-06 21:00:00
1     0.009990  0.010009  0.002725  0.003079       0.0000 2015-08-07 21:00:00
2     0.003079  0.003361  0.002411  0.002818       0.0000 2015-08-08 21:00:00
3     0.002818  0.002818  0.002459  0.002665       0.0000 2015-08-09 21:00:00
4     0.002665  0.004204  0.002521  0.003900       0.0000 2015-08-10 21:00:00
...        ...       ...       ...       ...          ...                 ...
2734  0.068615  0.069146  0.068391  0.068547   56726.2940 2023-01-30 21:00:00
2735  0.068547  0.069556  0.068177  0.069184   73425.2066 2023-01-31 21:00:00
2736  0.069184  0.070997  0.069180  0.069963  108565.6993 2023-02-01 21:00:00
2737  0.069963  0.071269  0.069587  0.071003   84617.0884 2023-02-02 21:00:00
2738  0.071004  0.071924  0.070667  0.071724   44447.2555 2023-02-03 21:00:00

[2739 rows x 6 columns]

In [11]:
data['datetime'] = data['datetime'].dt.date

In [12]:
data

          open      high       low     close       volume    datetime
0     0.010141  0.012575  0.009262  0.009990       0.0000  2015-08-06
1     0.009990  0.010009  0.002725  0.003079       0.0000  2015-08-07
2     0.003079  0.003361  0.002411  0.002818       0.0000  2015-08-08
3     0.002818  0.002818  0.002459  0.002665       0.0000  2015-08-09
4     0.002665  0.004204  0.002521  0.003900       0.0000  2015-08-10
...        ...       ...       ...       ...          ...         ...
2734  0.068615  0.069146  0.068391  0.068547   56726.2940  2023-01-30
2735  0.068547  0.069556  0.068177  0.069184   73425.2066  2023-01-31
2736  0.069184  0.070997  0.069180  0.069963  108565.6993  2023-02-01
2737  0.069963  0.071269  0.069587  0.071003   84617.0884  2023-02-02
2738  0.071004  0.071924  0.070667  0.071724   44447.2555  2023-02-03

[2739 rows x 6 columns]

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2739 entries, 0 to 2738
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   open      2739 non-null   float64
 1   high      2739 non-null   float64
 2   low       2739 non-null   float64
 3   close     2739 non-null   float64
 4   volume    2739 non-null   float64
 5   datetime  2739 non-null   object
dtypes: float64(5), object(1)
memory usage: 128.5+ KB

In [14]:
data['datetime']=pd.to_datetime(data['datetime'])
data['datetime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2739 entries, 0 to 2738
Series name: datetime
Non-Null Count  Dtype
--------------  -----
2739 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 21.5 KB

In [15]:
data['moon_phase']=''
data

,open,high,low,close,volume,datetime,moon_phase
0,0.010141,0.012575,0.009262,0.009990,0.0000,2015-08-06,
1,0.009990,0.010009,0.002725,0.003079,0.0000,2015-08-07,
2,0.003079,0.003361,0.002411,0.002818,0.0000,2015-08-08,
3,0.002818,0.002818,0.002459,0.002665,0.0000,2015-08-09,
4,0.002665,0.004204,0.002521,0.003900,0.0000,2015-08-10,
...,...,...,...,...,...,...,...
2734,0.068615,0.069146,0.068391,0.068547,56726.2940,2023-01-30,
2735,0.068547,0.069556,0.068177,0.069184,73425.2066,2023-01-31,
2736,0.069184,0.070997,0.069180,0.069963,108565.6993,2023-02-01,
2737,0.069963,0.071269,0.069587,0.071003,84617.0884,2023-02-02,
2738,0.071004,0.071924,0.070667,0.071724,44447.2555,2023-02-03,

# Ciclo de moon_phase de cada fecha contenida en el df

In [16]:
for index, row in data.iterrows():
    date = row["datetime"]
    phase_moon = phase(date)
    data.at[index, "moon_phase"] = phase_moon

data

,open,high,low,close,volume,datetime,moon_phase
0,0.010141,0.012575,0.009262,0.009990,0.0000,2015-08-06,20.333444
1,0.009990,0.010009,0.002725,0.003079,0.0000,2015-08-07,21.344556
2,0.003079,0.003361,0.002411,0.002818,0.0000,2015-08-08,22.355667
3,0.002818,0.002818,0.002459,0.002665,0.0000,2015-08-09,23.366778
4,0.002665,0.004204,0.002521,0.003900,0.0000,2015-08-10,24.300111
...,...,...,...,...,...,...,...
2734,0.068615,0.069146,0.068391,0.068547,56726.2940,2023-01-30,8.666778
2735,0.068547,0.069556,0.068177,0.069184,73425.2066,2023-01-31,9.600111
2736,0.069184,0.070997,0.069180,0.069963,108565.6993,2023-02-01,10.455667
2737,0.069963,0.071269,0.069587,0.071003,84617.0884,2023-02-02,11.311222
2738,0.071004,0.071924,0.070667,0.071724,44447.2555,2023-02-03,12.166778

# Creando name_phase column

In [17]:
def imprimir_fase(phase):
    if phase >=0 and phase <7:
        return "ðŸŒ‘ new moon"
    elif phase >= 7 and phase <14 :
        return "ðŸŒ“ first quarter"
    elif phase >=14 and phase <21:
        return "ðŸŒ• full moon"
    elif phase >=21 and phase <28 :
        return "ðŸŒ— last quarter"
    else:
        return "Fase lunar desconocida."
    
    
data["name_phase"] = ""

for index, row in data.iterrows():
    phase = row["moon_phase"]
    name_phase = imprimir_fase(phase)
    data.at[index, "name_phase"] = name_phase
    
data

,open,high,low,close,volume,datetime,moon_phase,name_phase
0,0.010141,0.012575,0.009262,0.009990,0.0000,2015-08-06,20.333444,ðŸŒ• full moon
1,0.009990,0.010009,0.002725,0.003079,0.0000,2015-08-07,21.344556,ðŸŒ— last quarter
2,0.003079,0.003361,0.002411,0.002818,0.0000,2015-08-08,22.355667,ðŸŒ— last quarter
3,0.002818,0.002818,0.002459,0.002665,0.0000,2015-08-09,23.366778,ðŸŒ— last quarter
4,0.002665,0.004204,0.002521,0.003900,0.0000,2015-08-10,24.300111,ðŸŒ— last quarter
...,...,...,...,...,...,...,...,...
2734,0.068615,0.069146,0.068391,0.068547,56726.2940,2023-01-30,8.666778,ðŸŒ“ first quarter
2735,0.068547,0.069556,0.068177,0.069184,73425.2066,2023-01-31,9.600111,ðŸŒ“ first quarter
2736,0.069184,0.070997,0.069180,0.069963,108565.6993,2023-02-01,10.455667,ðŸŒ“ first quarter
2737,0.069963,0.071269,0.069587,0.071003,84617.0884,2023-02-02,11.311222,ðŸŒ“ first quarter
2738,0.071004,0.071924,0.070667,0.071724,44447.2555,2023-02-03,12.166778,ðŸŒ“ first quarter

# Creando change column para observar cambios de tendencia y porcentaje de cambio entre los precios de cierre

In [18]:
data.insert(data.columns.get_loc('close')+1, 'change',  data['close'].pct_change().mul(100).round(2))

In [19]:
data

,open,high,low,close,change,volume,datetime,moon_phase,name_phase
0,0.010141,0.012575,0.009262,0.009990,NaN,0.0000,2015-08-06,20.333444,ðŸŒ• full moon
1,0.009990,0.010009,0.002725,0.003079,-69.18,0.0000,2015-08-07,21.344556,ðŸŒ— last quarter
2,0.003079,0.003361,0.002411,0.002818,-8.47,0.0000,2015-08-08,22.355667,ðŸŒ— last quarter
3,0.002818,0.002818,0.002459,0.002665,-5.44,0.0000,2015-08-09,23.366778,ðŸŒ— last quarter
4,0.002665,0.004204,0.002521,0.003900,46.34,0.0000,2015-08-10,24.300111,ðŸŒ— last quarter
...,...,...,...,...,...,...,...,...,...
2734,0.068615,0.069146,0.068391,0.068547,-0.10,56726.2940,2023-01-30,8.666778,ðŸŒ“ first quarter
2735,0.068547,0.069556,0.068177,0.069184,0.93,73425.2066,2023-01-31,9.600111,ðŸŒ“ first quarter
2736,0.069184,0.070997,0.069180,0.069963,1.13,108565.6993,2023-02-01,10.455667,ðŸŒ“ first quarter
2737,0.069963,0.071269,0.069587,0.071003,1.49,84617.0884,2023-02-02,11.311222,ðŸŒ“ first quarter
2738,0.071004,0.071924,0.070667,0.071724,1.02,44447.2555,2023-02-03,12.166778,ðŸŒ“ first quarter

In [20]:
data.columns

Index(['open', 'high', 'low', 'close', 'change', 'volume', 'datetime',
       'moon_phase', 'name_phase'],
      dtype='object')

# funtion simple para volatility_index

In [21]:
def volatilidad_index(row):
    return (row['high'] - row['low']) / (row['close'] - row['open'])

data['volatility_index'] = data.apply(volatilidad_index, axis=1)
data['volatility_index'] = (data['volatility_index'] - data['volatility_index'].min()) / (data['volatility_index'].max() - data['volatility_index'].min()) * 2 - 1
data['volatility_index'] = data['volatility_index'].round(2)
data

,open,high,low,close,change,volume,datetime,moon_phase,name_phase,volatility_index
0,0.010141,0.012575,0.009262,0.009990,NaN,0.0000,2015-08-06,20.333444,ðŸŒ• full moon,0.63
1,0.009990,0.010009,0.002725,0.003079,-69.18,0.0000,2015-08-07,21.344556,ðŸŒ— last quarter,0.66
2,0.003079,0.003361,0.002411,0.002818,-8.47,0.0000,2015-08-08,22.355667,ðŸŒ— last quarter,0.65
3,0.002818,0.002818,0.002459,0.002665,-5.44,0.0000,2015-08-09,23.366778,ðŸŒ— last quarter,0.65
4,0.002665,0.004204,0.002521,0.003900,46.34,0.0000,2015-08-10,24.300111,ðŸŒ— last quarter,0.66
...,...,...,...,...,...,...,...,...,...,...
2734,0.068615,0.069146,0.068391,0.068547,-0.10,56726.2940,2023-01-30,8.666778,ðŸŒ“ first quarter,0.64
2735,0.068547,0.069556,0.068177,0.069184,0.93,73425.2066,2023-01-31,9.600111,ðŸŒ“ first quarter,0.66
2736,0.069184,0.070997,0.069180,0.069963,1.13,108565.6993,2023-02-01,10.455667,ðŸŒ“ first quarter,0.66
2737,0.069963,0.071269,0.069587,0.071003,1.49,84617.0884,2023-02-02,11.311222,ðŸŒ“ first quarter,0.66
2738,0.071004,0.071924,0.070667,0.071724,1.02,44447.2555,2023-02-03,12.166778,ðŸŒ“ first quarter,0.66

# Valores con de volatilidad mas comunes

In [22]:
data['volatility_index'] = data['volatility_index'].astype(float)
grupo_vola = data['volatility_index'].groupby(data['volatility_index']).count()
grupo_vola

volatility_index
-1.00       1
-0.46       1
-0.24       1
 0.15       1
 0.33       1
 0.34       1
 0.44       2
 0.45       1
 0.46       2
 0.48       2
 0.49       1
 0.50       1
 0.51       1
 0.52       1
 0.54       2
 0.56       1
 0.57       1
 0.59       4
 0.60       5
 0.61       5
 0.62      12
 0.63      25
 0.64      67
 0.65    1209
 0.66    1211
 0.67     101
 0.68      32
 0.69      19
 0.70       6
 0.71       2
 0.72       1
 0.73       4
 0.75       1
 0.76       2
 0.78       3
 0.79       1
 0.80       1
 0.82       1
 0.83       2
 0.84       1
 0.95       1
 0.97       1
 1.00       1
Name: volatility_index, dtype: int64

# Aplicando describe veo que aun falta transformar los datos de las columns moon_phase y volume

In [23]:
data.describe()

,open,high,low,close,change,volume,volatility_index
count,2739.000000,2739.000000,2739.000000,2739.000000,2738.000000,2.739000e+03,2739.000000
mean,0.042982,0.044085,0.041855,0.043004,0.207432,1.360573e+05,0.653666
std,0.026699,0.027358,0.025980,0.026696,5.144053,1.435667e+05,0.048526
min,0.001613,0.001793,0.001574,0.001613,-69.180000,0.000000e+00,-1.000000
25%,0.021535,0.021950,0.021010,0.021537,-1.800000,0.000000e+00,0.650000
50%,0.033829,0.034522,0.033076,0.033836,-0.200000,1.085657e+05,0.660000
75%,0.068728,0.070111,0.067391,0.068741,1.567500,1.990269e+05,0.660000
max,0.150920,0.156357,0.148407,0.150920,49.460000,1.396957e+06,1.000000

In [24]:
data

,open,high,low,close,change,volume,datetime,moon_phase,name_phase,volatility_index
0,0.010141,0.012575,0.009262,0.009990,NaN,0.0000,2015-08-06,20.333444,ðŸŒ• full moon,0.63
1,0.009990,0.010009,0.002725,0.003079,-69.18,0.0000,2015-08-07,21.344556,ðŸŒ— last quarter,0.66
2,0.003079,0.003361,0.002411,0.002818,-8.47,0.0000,2015-08-08,22.355667,ðŸŒ— last quarter,0.65
3,0.002818,0.002818,0.002459,0.002665,-5.44,0.0000,2015-08-09,23.366778,ðŸŒ— last quarter,0.65
4,0.002665,0.004204,0.002521,0.003900,46.34,0.0000,2015-08-10,24.300111,ðŸŒ— last quarter,0.66
...,...,...,...,...,...,...,...,...,...,...
2734,0.068615,0.069146,0.068391,0.068547,-0.10,56726.2940,2023-01-30,8.666778,ðŸŒ“ first quarter,0.64
2735,0.068547,0.069556,0.068177,0.069184,0.93,73425.2066,2023-01-31,9.600111,ðŸŒ“ first quarter,0.66
2736,0.069184,0.070997,0.069180,0.069963,1.13,108565.6993,2023-02-01,10.455667,ðŸŒ“ first quarter,0.66
2737,0.069963,0.071269,0.069587,0.071003,1.49,84617.0884,2023-02-02,11.311222,ðŸŒ“ first quarter,0.66
2738,0.071004,0.071924,0.070667,0.071724,1.02,44447.2555,2023-02-03,12.166778,ðŸŒ“ first quarter,0.66

In [25]:
data[['volume','moon_phase']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2739 entries, 0 to 2738
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   volume      2739 non-null   float64
 1   moon_phase  2739 non-null   object
dtypes: float64(1), object(1)
memory usage: 42.9+ KB

In [26]:
data['moon_phase'] = data['moon_phase'].astype('float')

In [30]:
data=data.round(8)

In [32]:
data.describe()

,open,high,low,close,change,volume,moon_phase,volatility_index
count,2739.000000,2739.000000,2739.000000,2739.000000,2738.000000,2.739000e+03,2739.000000,2739.000000
mean,0.042982,0.044085,0.041855,0.043004,0.207432,1.360573e+05,14.011324,0.653666
std,0.026699,0.027358,0.025980,0.026696,5.144053,1.435667e+05,8.088108,0.048526
min,0.001613,0.001793,0.001574,0.001613,-69.180000,0.000000e+00,0.033444,-1.000000
25%,0.021535,0.021950,0.021010,0.021537,-1.800000,0.000000e+00,6.994556,0.650000
50%,0.033829,0.034522,0.033076,0.033836,-0.200000,1.085657e+05,13.955667,0.660000
75%,0.068728,0.070111,0.067391,0.068741,1.567500,1.990269e+05,21.033444,0.660000
max,0.150920,0.156357,0.148407,0.150920,49.460000,1.396957e+06,27.955667,1.000000

# uso de set_option para agregar decimales a los datos y asi evitar outputs en scientific notation

In [49]:
pd.set_option('display.float_format', lambda x: '%.6f' % x)

In [50]:
data

,open,high,low,close,change,volume,datetime,moon_phase,name_phase,volatility_index
0,0.010141,0.012575,0.009262,0.009990,NaN,0.000000,2015-08-06,20.333444,ðŸŒ• full moon,0.630000
1,0.009990,0.010009,0.002725,0.003079,-69.180000,0.000000,2015-08-07,21.344556,ðŸŒ— last quarter,0.660000
2,0.003079,0.003361,0.002411,0.002818,-8.470000,0.000000,2015-08-08,22.355667,ðŸŒ— last quarter,0.650000
3,0.002818,0.002818,0.002459,0.002665,-5.440000,0.000000,2015-08-09,23.366778,ðŸŒ— last quarter,0.650000
4,0.002665,0.004204,0.002521,0.003900,46.340000,0.000000,2015-08-10,24.300111,ðŸŒ— last quarter,0.660000
...,...,...,...,...,...,...,...,...,...,...
2734,0.068615,0.069146,0.068391,0.068547,-0.100000,56726.294000,2023-01-30,8.666778,ðŸŒ“ first quarter,0.640000
2735,0.068547,0.069556,0.068177,0.069184,0.930000,73425.206600,2023-01-31,9.600111,ðŸŒ“ first quarter,0.660000
2736,0.069184,0.070997,0.069180,0.069963,1.130000,108565.699300,2023-02-01,10.455667,ðŸŒ“ first quarter,0.660000
2737,0.069963,0.071269,0.069587,0.071003,1.490000,84617.088400,2023-02-02,11.311222,ðŸŒ“ first quarter,0.660000
2738,0.071004,0.071924,0.070667,0.071724,1.020000,44447.255500,2023-02-03,12.166778,ðŸŒ“ first quarter,0.660000

In [51]:
data.describe()

,open,high,low,close,change,volume,moon_phase,volatility_index
count,2739.000000,2739.000000,2739.000000,2739.000000,2738.000000,2739.000000,2739.000000,2739.000000
mean,0.042982,0.044085,0.041855,0.043004,0.207432,136057.319650,14.011324,0.653666
std,0.026699,0.027358,0.025980,0.026696,5.144053,143566.704957,8.088108,0.048526
min,0.001613,0.001793,0.001574,0.001613,-69.180000,0.000000,0.033444,-1.000000
25%,0.021535,0.021950,0.021010,0.021537,-1.800000,0.000000,6.994556,0.650000
50%,0.033829,0.034522,0.033076,0.033836,-0.200000,108565.699300,13.955667,0.660000
75%,0.068728,0.070111,0.067391,0.068741,1.567500,199026.909000,21.033444,0.660000
max,0.150920,0.156357,0.148407,0.150920,49.460000,1396957.115000,27.955667,1.000000